/* App */
$bg-color: #a8aaa9;
$text-color: #d6d1d1;

/* Calc */
$calc-bg-color: #4b4b4b;
$calc-color: #1a1616;
$display-color: #c5d4a7;

/* Btn */
$btn-color: #111;
$btn-gradient-color-1: #4c4c4c;
$btn-gradient-color-2: #131313;
$btn-border-color: #292828;
$btn-hover-color: #a7a3a3;
